ops ~= 2.5
pydantic>=2

lightkube-extensions @ git+https://github.com/canonical/lightkube-extensions.git@add-initial-helpers

# An implementation of the JSON Schema specification
# Code: https://github.com/python-jsonschema/jsonschema
# Docs: https://python-jsonschema.readthedocs.io/
# Deps: traefik_k8s libs
jsonschema >= 4.22.0